$colour-primary: #196D7A;
$colour-primary-light: #897F5F;
$colour-primary-mid: #124C5F;
$colour-primary-dark: #141719;

$colour-white: #fff;
$colour-grey-light: #FBFBFA;
$colour-grey: #c7c7c7;
$colour-grey-dark: #232323;
$colour-black: #000;

$colour-heading-primary: #56cadc;

$colour-grey-light-2: #eee;

$colour-fade: linear-gradient(to top, #0b1e24 0%, #141719 35%, #141719 100%);