@media screen and (min-height: 610px) {
    .nav-footer {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

@media screen and (min-height: 610px) {
    .nav-footer {
        position: absolute;
        bottom: 0;
        left: 0;
    }
  }